

.hero-wrapper{
    color:white;
    position: relative;
    padding-bottom: 2rem;
    background-color: var(--black);
}

.hero-container{
    justify-content: space-around;
    align-items: flex-end;
}

.hero-left{
    margin:2rem;
    /* margin-right: -20rem; */
    position: relative;
    z-index:1;     
}

.hero-title>h2{
    margin-bottom: 4rem;
    font-weight:600;
    font-size: 3.8rem;
    line-height:4.2rem;
}

.orange-circle{
    height: 10rem;
    width: 10rem;
    background: var(--orange-gradient);
    border-radius: 999px;
    position:absolute;
    right:1%;
    top:-10%;
    z-index:-1;
}

.search-bar>input{
    border: none;
    outline: none;
}

.search-bar{
    width: 100%;
    margin-top: 3rem;
    background-color: white;
    border-radius: 5px;
    border: 3px solid rgba(120, 120, 120, 0.374);
    padding: 0.5rem 1rem;
    justify-content: space-between;
}

.stats{
    margin-top: 4rem;
    width:100%;
    justify-content: space-between;
}

.stat>:nth-child(1){
    font-size: 2rem;
}

.stat>:nth-child(1)>:last-child{
    color: orange;
}


/* right side */

.image-container{
    
     width: 33rem;
     height: 40rem;
     overflow: hidden;
     /* border-radius: 15rem 15rem 0 0; */
     /* border:8px solid rgba(255, 255, 255, 0.12); */
}

.image-container> img{
    width:100%;
    height:100%;
}

@media (max-width: 640px){
    .hero-title>h2{
       font-size: 3rem;
       line-height: 3rem;
    }

    .image-container{
        width: 95%;
        height: 35rem;
    }

    .hero-right{
        width: 100%;
    }

    .stats{
        justify-content: center;
        gap:1.5rem;
    }

    .stas>:nth-child(1){
        font-size: 1.5rem;
    }

    
    .stas>:nth-child(2){
        font-size: .8rem;
    }
}