.c-image-container{
    margin:0rem;
    width: 33rem;
    height: 30rem;
    margin-right: 1.1rem;
}

.c-image-container> img{
    width:100%;
    height:100%;
}


.c-container{

    /* margin-top: 20vh;
    margin-bottom: 10vh; */
    padding-top: 20vh;
    padding-bottom: 10vh;
    background:var(--black);
    justify-content: space-between;
}

.c-container .mainhead{
    font-size: 3rem;
}

.c-container>div{
    flex:1;
}

.c-right{
    width:100%;
}

.c-left{
    margin-top:0;
    margin-left:2rem;
    margin-right: 0;
    gap:.5rem;
}

.contactModes{
    margin-top: 2rem;
    gap:1rem;
;}

.contactModes .row{
    gap:1rem;
;}

.icon{
display: flex;

}

.mode{
    color: white;
    background:rgb(42, 42, 42);
    width:16rem;
    padding:1rem;
    border: 0.8px solid rgba(247, 247, 247, 0.143);
    border-radius: 5px;
    gap:1rem;
    transition: all 300ms ease-in;
}

.mode .button{
    width: 100%;
    background: var(--black);
    color : var(--blue);
    font-size : 0.9rem;
    font-weight: 600;

}

.mode >:nth-child(1){
    width:100%;
    gap:1.6rem;
}

.mode .detail .primaryText{
 font-size: 1.1rem;
 font-weight: 600;
}

.mode:hover{
    color: white;
    scale:1.05;
    box-shadow: var(--shadow);
    background: linear-gradient(
        180deg,
        rgba(236, 233, 233, 0)0%,
        rgba(255, 255, 255, 0.46)217.91%
    ) ;
}

.mode .button:hover{
    background: var(--blue-gradient);
    color:white;
    scale :0.8;
    transition:all 300ms ease-in;
}

@media(max-width: 1024px){
    .c-container{
        flex-direction: column;
    }
    .contactModes{
        width:100%;
    }
    .c-right{
        justify-content: center;
    }
    .row{
        flex-direction: column;
        width: 100%;
    }
    .mode{
        width: 100%;
    }
    .c-image-container{
        height: 30rem;
    }
}