.v-wrapper{
    background:var(--black);
}

.v-image-container{
    margin:2rem;
    width: 30rem;
    height: 30rem;
}

.v-image-container> img{
   width:100%;
   height:100%;
}

.v-container>div{
    flex:1;
}

.primaryText{
    font-size: 1.2rem;
}

.v-right{
    gap:.5rem;
}

.accordion{
    
    margin-top:2rem;
    border:none;
}
.AccordionItemHeading{

    background: pink;
}
.accordionItem{
    background:rgb(251, 0, 0);
    border: 0.8px solid rgba(128,128,128,0.143);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px; 
}