.timelines{
    background: #111111;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 0vh 0vw ;
    line-height: 5vh;
  }

  body{
    background-color: #111111;
  }

  h1{
    margin-bottom: 2vh;
    text-align: center;
    padding: 2rem;
    font-size: 4rem;
  }

  h3 {
    font-size: 2rem;
    color: rgb(0, 0, 0);
    padding-top: 0.25em;
  }

  h5 {
    color: rgb(0, 0, 0);
    padding-top: 0.25em;
  }

  p{
    color: black;
  }

 data .vertical-timeline-element-date{
    font-size: 30em;
  }

  .vertical-timeline-element-content {
    box-shadow: 0 0.25em 0.5em 0 rgba(255, 255, 255, 0.35),
      0 0.4em 1.25em 0 rgba(255, 255, 255, 0.35) !important;
    padding: 2em 3em !important;
  }
  
  .date {
    color: rgb(201, 251, 255);
  }
  
  #description {
    margin: 1.5em 0 0 0;
  }

  .vertical-timeline-element-icon{
    border: #111111;
    color:black;
    background: rgb(0, 0, 0);
  }  

 .vertical-timeline-element-content {

    width: 1vw;
  }

  @media only screen and (max-width: 1700px) {
    .vertical-timeline-element-date {
      display: block !important;
      float: none !important;
      color: rgb(255, 255, 255);
      margin-top: 1.5em;

    }

    .vertical-timeline-element-content{
      width: 80vw;
      height: 29vh;
    
  }
}

  .timelines .svg{
    color: white;
  }