
.f-container{
    background-color: rgb(20, 19, 19);
    color: rgb(255, 255, 255);
    margin: auto;
    padding: 3rem;
}

.mainline{
    margin-left: 1rem;
    font-size: 120px;
    overflow: scroll;
}


::-webkit-scrollbar {
    display: none;
}


.f-container .button{
    background-color:#5a73d7 ;
    border: 1px solid white;
    box-shadow: var(--shadow);
    border-radius: 10px;
}
