.App{
    position: relative;
    overflow-x:clip ;
}

.App>:nth-child(1 ){

    background: var(--black);
    position: relative;
}

.white-gradient{
    position:relative;
     width:20rem;
     /* height:20rem; */
     /* background: white; */
     filter:blur(100px);
     border-radius:100px ;
}